{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="min-vh-80 p-2 d-flex justify-content-center align-items-center flex-wrap">
	<div class="space-y">
		<div class="card">
			<img class="card-img-top" src="/images/hermit-4.jpg" />

			<div class="card-body">
				<h3 class="card-title">Hermit</h3>
				<p>Welcome {{ username }}!</p>
				<div class="space-x justify-content-center">
					<div class="btn-list mb-3">
						<a href="/admin/newsletters" class="btn btn-primary">
							<i class="icon ti ti-mail-fast"></i> Send a newsletter issue
						</a>
						<a href="/admin/password" class="btn btn-primary">
							<i class="icon ti ti-user-edit"></i> Change password
						</a>
						<form name="logoutForm" action="/admin/logout" method="post">
							<button type="submit" class="btn btn-primary">
								<i class="icon ti ti-logout"></i> Logout
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<style></style>

<script></script>

{% endblock %}