<!DOCTYPE HTML>
<html>

<head>
    <title>{% block title %}{{ title }} - Zero2Prod{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.19.0/tabler-icons.min.css" />

    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    {% block head %}{% endblock %}
</head>

<body class="is-preload">
    <div class="page">
        <!-- Content -->
        <div class="page-wrapper">
            <ol class="breadcrumb" aria-label="breadcrumbs">
                {% for part in self::path() %}
                    {% if loop.last %}
                    <li class="breadcrumb-item active"><a href="{{part.link}}">{{part.name}}</a></li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{{part.link}}">{{part.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>

</html>
