{% extends "base.html" %}

{% block title %}Login - Zero2Prod{% endblock %}

{% block content %}
<main class="min-vh-100 p-4 d-flex justify-content-center align-items-center flex-wrap">
    <div class="space-y">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Login</h3>

                 {% if error != "" -%}
                    <div class="alert alert-warning">
                        <h4 class="alert-title">Login failed</h4>
                        <div class="text-muted">{{ error }}</div>
                    </div>
                {% endif -%}
                {% if info != "" -%}
                    <div class="alert alert-info">
                        <h4 class="alert-title">Info</h4>
                        <div class="text-muted">{{ info }}</div>
                    </div>
                {% endif -%}

                <form action="/login" method="post">
                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="ti ti-user"></i>
                        </span>
                        <input type="text" class="form-control" name="username" placeholder="Username"
                            autocomplete="off">
                    </div>
                    <div class="mb-3 input-group input-group-flat">
                        <span class="input-group-text">
                            <i class="ti ti-lock"></i>
                        </span>
                        <input type="password" id="password-input" class="form-control" name="password" placeholder="Password" data-hidden="">
                        <span class="input-group-text">
                            <i class="ti ti-eye-off" id="password-show-toggle" onclick="togglePasswordVisible()"></i>
                        </span>
                    </div>
                    <div class="space-x justify-content-center">
                        <input type="submit" value="Login" class="btn btn-primary">
                        <input type="reset" value="Reset" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<style>
    #password-show-toggle {
        cursor: pointer;
    }
</style>

<script>

function togglePasswordVisible() {
    var passwordToggle = document.getElementById('password-show-toggle');
    passwordToggle.classList.toggle('ti-eye-off');
    passwordToggle.classList.toggle('ti-eye');
    var passwordInput = document.getElementById('password-input');
    if (passwordInput.toggleAttribute("data-hidden")) {
        passwordInput.setAttribute("type", "password");
    } else {
        passwordInput.setAttribute("type", "text");
    }
}

</script>

{% endblock %}